@purple: #7344c0;
@white: #fff;
@black: #000;

@font-size-small: 11px;
@font-size-medium: 13px;
@font-size-normal: 15px;
@font-size-big: 18px;

@font-Medium: "Graphik-Medium";
@font-Regular: "Graphik-Regular";
